# Setup

In [6]:
import pandas as pd

# Exercise 1

**We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google
(FAANG) stocks, but we were given each as a separate CSV file (obtained using the
stock_analysis package we will build in Chapter 7, Financial Analysis â€“ Bitcoin
and the Stock Market). Combine them into a single file and store the dataframe of
the FAANG data as faang for the rest of the exercises:**

* Read in the aapl.csv , amzn.csv , fb.csv , goog.csv , and nflx.csv files.
* Add a column to each dataframe, called ticker , indicating the ticker symbol it for (Apple's is AAPL, for example);  this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.
* Append them together into a single dataframe.
* Save the result in a CSV file called faang.csv.

In [7]:
tickers = ['aapl','amzn', 'fb', 'goog', 'nflx']

def create_df(filename):
    return pd.read_csv(f'exercises/{filename}.csv')

def add_column_to_df(df, columnName, columnValue):
    df[columnName] = columnValue
    return df

def append_dfs(df1, df2):
    return df1.append(df2)

def create_dfs_from_filenames(filenames):
    df = pd.DataFrame()
    for name in filenames:
        newDf = create_df(name)
        newDf = add_column_to_df(newDf, 'ticker', name.upper())
        df = append_dfs(df, newDf)
    return df

faangDf = create_dfs_from_filenames(tickers)
#faangDf.to_csv('exercises/faang.csv')
faangDf.head()

         date       high        low       open      close       volume ticker
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0   AAPL
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0   AAPL
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0   AAPL
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0   AAPL
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0   AAPL

# Exercise 2

With faang , use type conversion to cast the values of the date column into
datetimes and the volume column into integers. Then, sort by date and ticker .

In [11]:
def convert_column_type(df, columnName, type_):
    df[columnName] = df[columnName].astype(type_)
    return df

def sort_df(df, criteria):
    return df.sort_values(by=criteria)

faangDf = convert_column_type(faangDf, 'date', 'datetime64')
faangDf = convert_column_type(faangDf, 'volume', 'int')
faangDf = sort_df(faangDf, ['date', 'ticker'])
faangDf.head(15)

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,AAPL
0,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
0,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
0,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600,AAPL
1,2018-01-03,1205.489990,1188.300049,1188.300049,1204.199951,3108800,AMZN
1,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,FB
1,2018-01-03,1086.290039,1063.209961,1064.310059,1082.479980,1430200,GOOG
1,2018-01-03,206.210007,201.500000,202.050003,205.050003,8591400,NFLX
2,2018-01-04,43.367500,43.020000,43.134998,43.257500,89738400,AAPL
2,2018-01-04,1215.869995,1204.660034,1205.000000,1209.589966,3022100,AMZN
2,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,FB
2,2018-01-04,1093.569946,1084.001953,1088.000000,1086.400024,1004600,GOOG
2,2018-01-04,207.050003,204.000000,206.199997,205.630005,6029600,NFLX

<hr>
<div style="overflow: hidden; margin-bottom: 10px;">
    <div style="float: left;">
        <a href="./python_101.ipynb">
            <button>Python 101</button>
        </a>
    </div>
    <div style="float: right;">
        <a href="../../solutions/ch_01/solutions.ipynb">
            <button>Solutions</button>
        </a>
        <a href="../ch_02/1-pandas_data_structures.ipynb">
            <button>Chapter 2 &#8594;</button>
        </a>
    </div>
</div>
<hr>