# Setup

In [1]:
import pandas as pd

# Exercise 1

**We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google
(FAANG) stocks, but we were given each as a separate CSV file (obtained using the
stock_analysis package we will build in Chapter 7, Financial Analysis â€“ Bitcoin
and the Stock Market). Combine them into a single file and store the dataframe of
the FAANG data as faang for the rest of the exercises:**

* Read in the aapl.csv , amzn.csv , fb.csv , goog.csv , and nflx.csv files.
* Add a column to each dataframe, called ticker , indicating the ticker symbol it for (Apple's is AAPL, for example);  this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.
* Append them together into a single dataframe.
* Save the result in a CSV file called faang.csv.

In [2]:
tickers = ['aapl','amzn', 'fb', 'goog', 'nflx']

def create_df(ticker):
    return pd.read_csv(f'exercises/{ticker}.csv')

def add_column_to_df(df, ticker):
    df.insert(0, 'ticker', ticker.upper())

def append_dfs(df1, df2):
    return df1.append(df2)

def create_dfs_from_filenames(filenames):
    df = pd.DataFrame()
    for name in filenames:
        newDf = create_df(name)
        add_column_to_df(newDf, name)
        df = append_dfs(df, newDf)
    return df

dfFAANG = create_dfs_from_filenames(tickers)
dfFAANG.to_csv('exercises/faang.csv')
dfFAANG.head()

  ticker        date       high        low       open      close       volume
0   AAPL  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0
1   AAPL  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0
2   AAPL  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0
3   AAPL  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0
4   AAPL  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0

<hr>
<div style="overflow: hidden; margin-bottom: 10px;">
    <div style="float: left;">
        <a href="./python_101.ipynb">
            <button>Python 101</button>
        </a>
    </div>
    <div style="float: right;">
        <a href="../../solutions/ch_01/solutions.ipynb">
            <button>Solutions</button>
        </a>
        <a href="../ch_02/1-pandas_data_structures.ipynb">
            <button>Chapter 2 &#8594;</button>
        </a>
    </div>
</div>
<hr>