In [1]:
import pandas as pd

df = pd.read_csv('data/parsed.csv')

## Exercise 1

Find the 95th percentile of earthquake magnitude in Japan using the mb magnitude type.

In [2]:
japanEarthquakes = df.loc[
    (df.parsed_place == 'Japan') & (df.magType == 'mb'), 
    ['mag']
    ]

percentile95th = japanEarthquakes['mag'].quantile(0.95)
percentile95th

4.9

## Exercise 2

Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [3]:
quakeCountsByType = df[df.parsed_place == 'Indonesia']\
    .tsunami\
    .value_counts(normalize=True)

percentageWithTsunamis = quakeCountsByType[1]*100
print(f'{percentageWithTsunamis}%')

23.12925170068027%

## Exercise 3

Calculate summary statistics for earthquakes in Nevada

In [4]:
nevadaEarthquakes = df.loc[df.parsed_place == 'Nevada']
nevadaEarthquakes.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

# Exercise 4

Add a column indicating whether the earthquake happened in a country 
or US state that is on the Ring of Fire. 

Use Alaska, Antarctica (look for Antarctic), Bolivia, California, Canada, 
Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan,
Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand,
Peru, Philippines, Russia, Taiwan, Tonga, and Washington

In [5]:
ringOfFire = [
    'Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada', 'Chile', 
    'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala', 'Indonesia', 'Japan', 
    'Kermadec Islands', 'Mexico', 'New Zealand', 'Peru', 'Philippines', 
    'Russia', 'Taiwan', 'Tonga', 'Washington'
    ]

df['ring_of_fire'] = \
    (df.parsed_place.str.contains(r'|'.join(ringOfFire))) & \
    (~df.parsed_place.str.contains('New Mexico'))

# Exercise 5

Calculate the number of earthquakes in the Ring of Fire locations and the number
outside of them

In [6]:
earthquakeCount = df.ring_of_fire.value_counts()

insideOfRing = earthquakeCount[1]
outsideOfRing = earthquakeCount[0]
print(f'Inside: {insideOfRing}, Outside: {outsideOfRing}')

Inside: 7188, Outside: 2144

# Exercise 6

Find the tsunami count along the Ring of Fire.

In [7]:
test = df.loc[
    ((df.ring_of_fire == True ) & (df.tsunami == 1)), 
    'tsunami'
    ]
test.sum()

45

<hr>
<div style="overflow: hidden; margin-bottom: 10px;">
    <div style="float: left;">
        <a href="./python_101.ipynb">
            <button>Python 101</button>
        </a>
    </div>
    <div style="float: right;">
        <a href="../../solutions/ch_01/solutions.ipynb">
            <button>Solutions</button>
        </a>
        <a href="../ch_02/1-pandas_data_structures.ipynb">
            <button>Chapter 2 &#8594;</button>
        </a>
    </div>
</div>
<hr>